.p-main {
    max-width: 1920px;
    position: relative;
}

/* SECTION 1 */

.c-section1 {
    background-color: #fff;
    text-align: center;
    font-family: SawarabiMincho;
    margin-bottom: -462px;
}

.c-section1 {
    &__banner {
        padding-top: 100px;
        display: inline-block;
        position: relative;
        max-width: 1120px;

        &img {
            display: block;
            margin: auto;
            overflow: hidden;
            border: 1px solid transparent;
            border-radius: 60px;
        }
    }
}

.c-section1 {
    &__product {
        margin: auto;
        max-width: 1120px;
        padding-top: 70px;

        &title {
            font-weight: 600;
            height: 76px;

            p {
                font-size: 2rem;
                letter-spacing: 2px;
                display: inline-block;
                margin-right: 6px;
            }

            h1 {
                font-size: 4.6rem;
                letter-spacing: 9.4px;
                line-height: 52px;
            }
        }

        &wrap {
            // max-height: 500px;

            &container {
                position: relative;
                min-height: 1000px;

                &item {
                    display: inline-block;
                }
            }
        }
    }
}

.c-banner {
    left: 16%;
    top: 26.5%;
    position: absolute;
    text-align: center;

    &__describe {
        &title {
            margin-bottom: 20px;
            margin-top: 40px;

            &1 {
                display: block;
                font-size: 2.6rem;
                letter-spacing: 2px;
            }

            &2 {
                display: block;
                line-height: 72px;
                letter-spacing: 0;
                font-size: 6rem;
                font-family: "SagoeScript";
            }
        }

        h2 {
            font-size: 1.6rem;
            font-family: SawarabiMincho;
            font-weight: 600;
            word-spacing: -1.5px;
            margin-bottom: 30px;
            letter-spacing: 2px;
        }

        &intro1 {
            font-size: 1.6rem;
            font-family: SawarabiMincho;
            letter-spacing: 1.4px;
            font-weight: 600;
        }

        &intro2 {
            font-size: 3rem;
            font-family: SawarabiMincho;
            font-weight: 500;
            letter-spacing: 3px;
            margin-bottom: 20px;
        }

        &btn {
            padding: 6px 32px;
            text-align: center;
            background-color: #25a989;
            color: #fff;
            border: 2px solid transparent;
            border-radius: 50px;
            cursor: pointer;
            display: block;
            user-select: none;

            span {
                font-size: 2.5rem;
                letter-spacing: 5px;
                font-weight: 500;
                font-family: "SawarabiMincho";
            }

            &:hover {}
        }
    }
}

.c-name,
.c-name--left {
    // position: absolute;
    font-size: 1.4rem;
    font-weight: 600;
    padding-bottom: 4px;
    border-bottom: 1px dotted rgb(85, 85, 85);
    letter-spacing: 1.6px;
}

.c-name {
    text-align: right;
}

.c-name--left {
    text-align: left;
}

.c-positionitem1 {
    position: absolute;
    left: 7%;

    &__text {
        position: absolute;
        width: 70px;
        top: 27%;
        left: 97%;
    }
}

.c-positionitem2 {
    position: absolute;
    top: 4.2%;
    left: 21.4%;

    &__fill {
        position: absolute;
        top: 50%;
        left: 4%;
    }

    &__text {
        position: absolute;
        width: 180px;
        top: 30%;
        left: 94%;
    }
}

.c-positionitem3 {
    position: absolute;
    top: 4.2%;
    left: 45.2%;

    &__text {
        position: absolute;
        width: 200px;
        top: 30.3%;
        left: 101.5%;
    }
}

.c-positionitem4 {
    position: absolute;
    top: 0%;
    right: 22%;

    &__text {
        position: absolute;
        width: 218px;
        top: 40%;
        left: 105%;
    }
}

.c-positionitem5 {
    position: absolute;
    top: 26.7%;
    left: 8.2%;

    &__text {
        position: absolute;
        width: 160px;
        top: 21.2%;
        left: 90%;
    }
}

.c-positionitem6 {
    position: absolute;
    top: 31.6%;
    left: 28.6%;

    &__text {
        position: absolute;
        width: 136px;
        top: 55.2%;
        left: 67%;
    }

    &__note {
        position: absolute;
        top: -55%;
        left: 1%;
    }
}

.c-positionitem7 {
    position: absolute;
    left: 58.6%;
    top: 28.8%;

    &__text {
        position: absolute;
        width: 110px;
        top: 19%;
        left: -78%;
    }
}

.c-positionitem8 {
    position: absolute;
    top: 20.3%;
    right: 7.1%;

    &__text {
        position: absolute;
        width: 136px;
        top: 17%;
        left: -79%;
    }
}

.c-daily {
    position: absolute;
    font-family: SagoeScript;
    color: #2c7978;
    font-size: 1.4rem;
    word-spacing: -2px;
    letter-spacing: 2px;
    border-bottom: 1px solid;
    font-weight: 600;
    line-height: 18px;

    &::before {
        display: block;
        content: "";
        position: absolute;
        width: 10px;
        height: 40px;
        border-right: 1px solid #2c7978;
        transform: rotate(148deg);
        top: -66%;
        left: -21.5%;
    }

    &::after {
        display: block;
        content: "";
        position: absolute;
        width: 10px;
        height: 40px;
        border-right: 1px solid #2c7978;
        transform: rotate(32deg);
        top: -66%;
        left: 107.5%;
    }
}

.c-dailyitem1 {
    width: 95px;
    top: -30%;
    left: -35.2%;
}

.c-dailyitem4 {
    width: 95px;
    top: -30%;
    left: -58.5%;
}

.c-line {
    width: 19.5%;
    display: block;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 40.5%;
    transform: translateX(-50%);
    border-top: 2px solid;
    margin-bottom: 19px;
}

/* SECTION 2 */
.c-section2 {
    // display: none;
    background-color: #f6f5ef;
    // padding: 0 380px;
    font-family: SawarabiMincho;
    padding-top: 100px;
    padding-bottom: 108px;
    text-align: center;

    &__container {
        // padding: 0 35px;
        max-width: 1120px;
        display: inline-block;
    }

    &__footer {
        max-width: 1120px;
        display: inline-block;

        h3 {
            font-size: 3rem;
            color: #176b6a;
            text-align: center;
            line-height: 26px;
            letter-spacing: 3px;
            margin-bottom: 53px;
            font-weight: 500;
        }

        &brands {
            display: flex;
            justify-content: space-between;
            column-gap: 20px;

            &item {
                border-radius: 20px;
                overflow: hidden;
            }
        }

        p {
            margin-top: 46px;
            font-size: 1.2rem;
            word-spacing: -0.8px;
            text-align: center;
            letter-spacing: 1.4px;
        }
    }
}

.c-part1 {
    margin-bottom: 110px;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 115px;
        margin-bottom: 37px;

        &point {
            padding-right: 30px;
            line-height: 65px;

            img {
                margin-bottom: 17px;
            }

            .c-line1 {
                height: 2px;
                background: #000;
                width: 35px;
                margin-left: 22px;
            }

            p {
                font-size: 2.2rem;
                margin-top: -11px;
                margin-left: 4.5px;
            }

            &content {
                flex: 1;
                text-align: left;

                h2 {
                    font-size: 3.6rem;
                    color: rgb(23, 107, 106);
                    letter-spacing: 3.6px;
                    line-height: 18px;
                    height: 36px;
                }

                &line1 {
                    font-size: 1.5rem;
                    line-height: 52px;
                    height: 26px;
                    letter-spacing: 0.4px;
                }

                &line2 {
                    font-size: 1.5rem;
                    letter-spacing: 0.4px;
                    line-height: 48px;
                    height: 40px;
                }
            }
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        column-gap: 20px;

        &item.c-active &itemoverlay {
            display: flex !important;
        }

        &item {
            position: relative;

            &image {
                position: relative;
            }

            &overlay {
                position: absolute;
                // display: flex;
                display: none;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 290px;
                height: 290px;
                background-color: rgba(255, 255, 255, 0.8);
                border-radius: 25px;
                border: 1px solid transparent;
                flex-direction: column;
                justify-content: space-between;
                padding: 45px;
                text-align: left;

                h3 {
                    color: #176b6a;
                    font-size: 2.4rem;
                    text-align: center;
                    letter-spacing: 2.2px;
                    position: relative;

                    &::before {
                        display: block;
                        content: "";
                        height: 1px;
                        width: 50px;
                        bottom: -32%;
                        left: 37%;
                        position: absolute;
                        background: #176b6a;
                    }
                }

                p {
                    font-size: 1.2rem;
                    height: 70px;
                    line-height: 21px;
                    letter-spacing: 1.2px;
                    font-weight: 600;
                }

                a {
                    background: url("../_public/assets/img/nav-bg.png");
                    text-align: center;
                    margin-bottom: 4px;

                    span {
                        color: #fff;
                        display: inline-block;
                        width: 100%;
                        padding: 8px 0;
                        font-size: 1.6rem;
                        letter-spacing: 1.6px;
                    }
                }
            }
        }
    }
}

/* SECTION 3 */
.c-section3 {
    // display: none;
    font-family: "SawarabiMincho";
    padding: 45px 0;
    background: #fff;
    padding-bottom: 10px;
    text-align: center;

    &__qa {
        padding: 30px 0;
        max-width: 860px;
        display: inline-block;
        text-align: left;

        h2 {
            text-align: center;
            font-size: 3.6rem;
            font-weight: 500;
            word-spacing: -11.8px;
            letter-spacing: 2.6px;
            color: #176b6a;
            margin-bottom: 43px;
        }

        &sentences {}
    }
}

dl {
    display: flex;
    flex-direction: column;

    dt {
        margin-bottom: 5px;
        display: flex;

        span {
            line-height: 55px;
            font-size: 1.4rem;
            color: #176b6a;
            padding-left: 15px;
            letter-spacing: 1.4px;
            font-weight: 500;
        }
    }

    dd {
        font-size: 1.4rem;
        line-height: 22px;
        letter-spacing: 1.4px;
        margin-bottom: 46px;
    }
}

/* SECTION 4 */
.c-section4 {
    // display: none;
    padding: 20px 0;
    background: #fff;
    text-align: center;

    &__info {
        &header {
            border-radius: 50px;
            overflow: hidden;

            &img {
                display: inline-block;
                overflow: hidden;
                border-radius: 50px;
            }
        }

        &content {
            padding: 11px 0;
            margin-bottom: 90px;
            max-width: 860px;
            display: inline-block;
        }

        &footer {
            &img {
                display: inline-block;
                overflow: hidden;
                border-radius: 50px;
            }


            &contact {
                margin-top: 105px;
                margin-bottom: 40px;
                display: block;

                img {
                    padding: 10px 0;
                }
            }
        }
    }
}

.c-contact {
    display: flex;
    justify-content: space-between;
    max-width: 1030px;
    margin: auto;

    .c-contactcontent {
        font-size: 1.4rem;
        text-align: left;

        p {
            font-family: SawarabiMincho;
            line-height: 25px;
            letter-spacing: 1.4px;
        }
    }
}

.c-item {
    border-bottom: 1px solid #176b6a;
    display: inline-flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 250px;
    max-width: 1120px;
    

    &__info {
        position: relative;

        &title {
            display: flex;
            align-items: center;

            &text {
                padding-left: 15px;
                font-family: SarawabiMincho;
                text-align: left;

                p {
                    font-size: 1.4rem;
                    letter-spacing: 1.4px;
                    font-weight: 400;
                    line-height: 21px;
                }

                &main {
                    font-size: 2.3rem;
                    letter-spacing: 4.5px;
                }
            }
        }

        &description {
            font-size: 1.4rem;
            font-family: "SawarabiMincho";
            margin-top: 20px;
            text-align: left;

            p {
                margin-right: 20px;
                letter-spacing: 1.4px;
                line-height: 22px;
                height: 60px;
            }
        }

        a {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            &:hover {
                background-color: rgba(0, 0, 0, 0.07);
            }
        }
    }

    &__iconnav {
        margin-top: 30px;
    }
}

.c-item2 {
    display: inline-flex;
    height: 100%;
    padding: 32px 0;
    border-bottom: 1px solid #176b6a;
    align-items: center;
    max-width: 1120px;
    
    &__info {
        margin-top: 3px;
        position: relative;

        &title {
            display: flex;
            align-items: center;

            &text {
                padding-left: 15px;
                font-family: SarawabiMincho;
                text-align: left;

                p {
                    font-size: 1.4rem;
                    letter-spacing: 1.4px;
                    font-weight: 400;
                    line-height: 21px;
                }

                &main {
                    font-size: 2.3rem;
                    letter-spacing: 4.5px;
                }
            }
        }
        
        &description {
            margin-top: 0;
            font-size: 1.4rem;
            font-family: "SawarabiMincho";

            p {
                margin-top: 20px;
                margin-bottom: -20px;
                margin-right: 20px;
                letter-spacing: 1.4px;
                line-height: 22px;
                height: 60px;
            }
        }

        a {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            &:hover {
                background-color: rgba(0, 0, 0, 0.07);
            }
        }
    }

    &__iconnav {
        margin-top: 60px;
    }
}

.c-img {
    overflow: hidden;
    border-radius: 10px;
}
