///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before {
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}

//------------------------------------------------------------
// margin
//------------------------------------------------------------
.u-mb8 {
    margin-bottom: 8px !important;
}
//------------------------------------------------------------
// padding
//------------------------------------------------------------
.u-pd3245 {
    padding: 32px 45px !important;
}
//------------------------------------------------------------
// color
//------------------------------------------------------------

//------------------------------------------------------------
// height
//------------------------------------------------------------
.u-h94 {
    height: 94px !important;
}



//------------------------------------------------------------
// letter spacing
//------------------------------------------------------------
.u-ls16 {
    letter-spacing: 1.6px !important;
}

.u-ls9 {
    letter-spacing: 0.9px !important;
}
