<header class="c-header">
  <nav class="c-headerwrapper c-pc">
    <div class="c-header__list">
      <a href="#c-navheader">
        <img src="./_public/assets/img/nav-bg.png" alt="menu">
        <span class="c-header__listmenu">
          トップ
        </span>
      </a>
    </div>
    <div class="c-header__list">
      <a href="#c-navminteveryday">
        <img src="./_public/assets/img/nav-bg.png" alt="menu">
        <span class="c-header__listmenu">
          毎日にハッカ油
        </span>
      </a>
    </div>
    <div class="c-header__list">
      <a href="#c-navproducts">
        <img src="./_public/assets/img/nav-bg.png" alt="menu">
        <span class="c-header__listmenu">
          製品情報
        </span>
      </a>
    </div>
    <div class="c-header__list">
      <a href="#c-navqa">
        <img src="./_public/assets/img/nav-bg.png" alt="menu">
        <span class="c-header__listmenu">
          Q&A
        </span>
      </a>
    </div>
    <div class="c-header__list">
      <a href="#c-navmintoil">
        <img src="./_public/assets/img/nav-bg.png" alt="menu">
        <span class="c-header__listmenu">
          ハッカ油コラム
        </span>
      </a>
    </div>
    <div class="c-header__list">
      <a href="#c-navfooter">
        <img src="./_public/assets/img/nav-bg.png" alt="menu">
        <span class="c-header__listmenu">
          ハッカ油ムービー
        </span>
      </a>
    </div>
  </nav>
</header>
